frontend/node_modules/
frontend/dist/
backend/**/bin/
backend/**/obj/
.vscode/
*.code-workspace
*.log
logs/
**/appsettings.Production.json
**/appsettings.Local.json
**/secrets.json
**/.env
**/.env.*
!.env.example
!.env.development.example
!.env.qa.example
!.env.production.example